@page "/login"

<h1>Login</h1>
<p>This page will eventually authenticate users.</p>

<div class="login-box">
    <label>Username</label>
    <input placeholder="Enter username" />

    <label>Password</label>
    <input type="password" placeholder="Enter password" />

    <button disabled>Login (coming soon)</button>
</div>