<nav class="nav-menu">
    <NavLink href="/" Match="NavLinkMatch.All">Home</NavLink>
    <NavLink href="/login">Login</NavLink>
    <NavLink href="/fight">Fight</NavLink>
    <NavLink href="/team">Team</NavLink>
</nav>

